@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
/* All */
* {

    margin: 0;
    padding: 0;
}

:root {
    --font-base: "Bai Jamjuree";
   --color-orange:#a6d8a7;
   --lclr:#ed9819;
   --mera:#a6d8a7;
   --namecolor:rgb(130, 187, 16);
    --content:white;
   --sidebarwidth:250px;
}
.lclr{
color: var(--lclr);
}
body {
   
   color: black;
    font-family: var(--font-base), sans-serif;
}
.orange{
color: var(--color-orange);
}
.green{
color: var(--namecolor);
}

/* navbar */
@media (min-width: 992px){
    .navbar {
        min-height: 100vh;
        width:var(--sidebarwidth);
        background-size: cover;
        background-position: center;
        background: linear-gradient( #003142, #003140), url(./images/Sunset.jpg);

    }

    #content {
        padding-left:var(--sidebarwidth);
        background:var(--content);
    }
    .navbar img {
        max-width: 100%;
        height:auto;
        border: 5px solid var(--color-orange);
    }
    .footer{
        background-color: #074b4b !important;
    }
    .footer h7{
        font-size:medium !important;
        }
}
.navbar{
    background-color:  #00485ced;
   
}

.navbar .nav-link.active{
color:var(--color-orange);
}

.header {
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0/5%);

}

.header .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: centre;
}

.header .navbar-nav .nav-link.hover,
.header .navbar-nav .nav-link.active {
    color:var(--color-orange);
}
.header .navbar-toggler {
    box-shadow: none;
    border: none;

}
a:hover {
    text-decoration: none;
}



/* content */
#content{
    background-color:var(--content);
}

.full {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom:0.5px solid black;
   
}
/* home */
#home img {
    
    border: 5px solid var(--color-orange);
}
@media (max-width: 992px){
#home h1{
font-size:medium;
font-weight:500px;
}}

/* All buttons */

a{
    color:black;
}
a:link {
    text-decoration: none;
    color: white !important;
    font-size: 18px;
}
/* link */
.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-orange);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}
/* Education */
#education p{
    margin: 0px;
}
#education section {
 height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
#education section:hover {
   
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
/* skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skill {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.skill:hover {
  
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.skill-icon {
    font-size: 40px;
    color: var(--lclr);
}
.skill-title {
    font-size: 24px;
    font-weight: bold;
}
.skill-description {
    text-align: center;
    padding: 10px;

}
/* Projects */

.project-summary {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  height:97%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project-summary:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.project-img {
  border-radius: 5px;
}

.project-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.project-link {
  margin-top: 10px;
}
  


/* profiles */
.profile{
display: flex;

}
.form input{
margin-bottom:15px;
}
.form .form-control {
    background-color: rgb(209, 209, 209)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.profile a {
    text-decoration: none;
    height:100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 110px;
    background-color:white;
    margin:5px;
    box-shadow: 0px 1px 4px 2px var(--color-orange);

}

.profile a i {
    transition: all 0.3s linear;
}

.profile a:hover i {
    transform: scale(1.4);
   
}

.fa-instagram {
    color: #e84393;
}

.fa-github {
    color: black;
}

.fa-linkedin {
    color: #0070ac;
}

.fa-twitter {
    color: #0097e6;
}

.fa-facebook {
    color: #0097e6;
}
.footer{
    background-color: #003142;
    }
    .footer h6,h5{
    margin-bottom: 0px;
    }
    .footer h7{
    font-size:xx-small;
    }
    .profiles a{
    margin: 2px;
    }


  