
  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

*{
    
    margin:0;
    padding:0;
}
:root{
    --font-base:"Bai Jamjuree";
}

body{
    background-color: #022a30;
    font-family:var(--font-base ),sans-serif;
}
/* sidebar */
.header {
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0/5%);

}
.header .navbar-nav .nav-link {
    color: var(black);
    padding: 0.5rem 1rem;
    font-weight:600;
    text-align: centre;
}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link:active{
color: #e84393;
}

.header .navbar-toggler:focus {
    box-shadow: none;

}
a,
a:hover {
    text-decoration: none;
}

P {
    margin: 0;
}
/* content */
#content{
    padding-top:60px;
}
.full{
min-height: 100vh;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}

/* All buttons */
.buttons button 
{ 
    padding:9px 14px;
    background-color:dodgerblue;
    border-radius:30px;
    margin-top: 5px;
}
.buttons button a{
    text-decoration: none;
    color:white;
    font-weight:bold;
    font-size:18px;
}
.buttons button:hover 
{
    transform:scale(1.1);
    transition:all 0.3s linear;
}


/* profiles */
.form .form-control {
    background-color:rgb(219, 220, 226)
}
.form-control{
margin-top:6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pclass{
    height: 100vh;
}
.form{
    width: 50%;
}
.profile a{
   text-decoration:none;
   height:100px;
   width:100px;
   border-radius:50px;
   text-align:center;
   line-height:110px;
   margin:10px;
   box-shadow:1px 4px 2px 2px #dcdde1;
}
.profile a i{
  transition:all 0.3s linear;
}
.profile a:hover i{
  transform:scale(1.4);
}
.fa-instagram{
    color:#e84393;
}
fa-github{
    color:black;
}
.fa-linkedin{
    color:#0070ac;
}
.fa-twitter{
    color:#0097e6;
}
.fa-facebook{
color:#0097e6;
}
/* Certification */
.certificate:hover {
    transform: scale(1.1); /* Magnify the div by 10% */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.2), 0 0 50px rgba(255, 255, 255, 0.1); /* Add a shining effect to the div */
  }
  
